/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo1 {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
      &kp ESC           &kp Q       &kp W       &kp E       &kp R       &kp T        &kp Y  &kp U      &kp I    &kp O     &kp P               &kp BSPC
      &mt LSHFT TAB     &kp A       &kp S       &kp D       &kp F       &kp G        &kp H  &kp J      &kp K    &kp L  &kp SEMI  &mt RIGHT_SHIFT ENTER
      &kp LCTRL         &kp Z       &kp X       &kp C       &kp V       &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH                &kp SQT
                             &kp LGUI  &lt 1 SPACE  &lt 2 ENTER    &kp RIGHT_SHIFT  &lt 2 BSPC   &mo 3
            >;
        };

        lower_layer {
            bindings = <
 &none      &kp NUMBER_1        &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4    &kp NUMBER_5    &kp NUMBER_6      &kp NUMBER_7  &kp KP_NUMBER_8      &kp NUMBER_9      &kp NUMBER_10    &kp BSPC
    &none        &kp LC(A)        &kp LC(S)        &kp LC(D)        &kp LC(F)        &kp LC(F12)      &kp MINUS        &kp EQUAL           &kp RC(L)        &kp SQT       &kp PIPE     &kp F12
&none  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(X)  &kp LC(LA(A))       &trans  &kp C_BRI_DN     &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE
                                            &kp LGUI        &trans     &kp ENTER    &kp SPACE        &trans         &kp RALT
            >;
        };

              layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
